@model HelathProject_Domain.Status

<tr>
    <td><span class="badge badge-secondary" style="background-color:black">@Model.Rating</span> </td>
    <td><span class="badge badge-secondary" style="background-color:black">@Model.Statuses</span> </td>
</tr>
